<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.force.mall.user.mapper.EmployeeMapper" >

    <resultMap id="EmployeeInfo" type="com.force.mall.user.pojo.EmployeeInfo">
        <id column="emp_id" property="empId" jdbcType="VARCHAR"/>
        <result column="emp_age" property="empAge" jdbcType="VARCHAR" />
        <result column="emp_sex" property="empSex" jdbcType="VARCHAR" />
        <result column="emp_name" property="empName" jdbcType="VARCHAR" />
        <result column="emp_email" property="empEmail" jdbcType="VARCHAR" />
        <result column="emp_address" property="empAddress" jdbcType="VARCHAR" />
        <collection property="employeeUser" javaType="java.util.List" ofType="com.force.mall.user.pojo.EmployeeUser">
            <id column="emp_id" property="empId" jdbcType="VARCHAR" />
            <result column="emp_username" property="empUsername" jdbcType="VARCHAR" />
            <result column="emp_password" property="empPassword" jdbcType="VARCHAR" />
            <result column="submissionDate" property="submissionDate" jdbcType="VARCHAR" />
        </collection>
    </resultMap>


    <select id="selectEmployeeInfoList" resultMap="EmployeeInfo">
        SELECT i.emp_id,emp_age,emp_sex,
                emp_name,emp_email,emp_address,
                emp_username,emp_password,submissionDate
            FROM employee_info i,employee_user u
                WHERE i.emp_id = u.emp_id
    </select>

    <resultMap id="selectEmployeeUserInfo" type="com.force.mall.user.pojo.EmployeeUserInfo">
        <id column="emp_id" property="empId" jdbcType="VARCHAR"/>
        <result column="emp_age" property="empAge" jdbcType="VARCHAR" />
        <result column="emp_sex" property="empSex" jdbcType="VARCHAR" />
        <result column="emp_name" property="empName" jdbcType="VARCHAR" />
        <result column="emp_email" property="empEmail" jdbcType="VARCHAR" />
        <result column="emp_address" property="empAddress" jdbcType="VARCHAR" />
        <result column="emp_id" property="empId" jdbcType="VARCHAR" />
        <result column="emp_username" property="empUsername" jdbcType="VARCHAR" />
        <result column="emp_password" property="empPassword" jdbcType="VARCHAR" />
        <result column="submissionDate" property="submissionDate" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectEmployeeUserInfos" resultMap="selectEmployeeUserInfo">
        SELECT i.emp_id,emp_age,emp_sex,
                emp_name,emp_email,emp_address,
                emp_username,emp_password,submissionDate
            FROM employee_info i,employee_user u
                WHERE i.emp_id = u.emp_id
    </select>
    <select id="selectEmployeeUserInfo" resultMap="selectEmployeeUserInfo" parameterType="java.lang.Integer">
        SELECT i.emp_id,emp_age,emp_sex,
                emp_name,emp_email,emp_address,
                emp_username,emp_password,submissionDate
            FROM employee_info i,employee_user u
                WHERE i.emp_id = u.emp_id
                limit #{pageNum},#{pageSize}
    </select>

    <select id="selectEmployeeUserInfoById" resultMap="selectEmployeeUserInfo" parameterType="java.lang.String">
        SELECT i.emp_id,emp_age,emp_sex,
                emp_name,emp_email,emp_address,
                emp_username,emp_password,submissionDate
            FROM employee_info i,employee_user u
                WHERE i.emp_id = u.emp_id
                and i.emp_id = #{empId};
    </select>
    
    <insert id="insertEmployeeInfo" parameterType="com.force.mall.user.pojo.EmployeeInfo" keyColumn="empId">
        insert into employee_info (emp_id,emp_age,emp_sex,emp_name,emp_email,emp_address)
         values (#{empId},#{empAge},#{empSex},#{empName},#{empEmail},#{empAddress});
    </insert>
    <insert id="insertEmployeeUser" parameterType="com.force.mall.user.pojo.EmployeeUser" keyColumn="empId">
        insert into employee_info (emp_id,emp_username,emp_password,submissionDate)
         values (#{empId},#{empUsername},#{empPassword},#{submissionDate});
    </insert>
 </mapper>